{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- For IE -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- For Resposive Device -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>203 - maktab</title>

	<!-- Favicon -->
	<link rel="icon" type="image/png" sizes="56x56" href="{% static 'images/fav-icon/icon.png' %}">


	<!-- Main style sheet -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<!-- responsive style sheet -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">

	<script src="https://kit.fontawesome.com/7d5879c5b3.js" crossorigin="anonymous"></script>
</head>

<body>
	<div class="main-page-wrapper">


		<!-- Header _________________________________ -->
		<header class="main-header">
			<div class="top-header">
				<div class="container">
					<div class="left-side float-left">
						<ul>
							<li><span class="icon round-border"><i class="ficon flaticon-signs"></i></span> <a href=""
									class="tran3s">Toshkent viloyati, Uchtepa tumani</a></li>
							<li><span class="icon round-border"><i class="ficon flaticon-multimedia"></i></span> <a
									href="" class="tran3s">203Maktab@gmail.com</a></li>
							<li><span class="icon round-border"><i class="ficon flaticon-technology"></i></span> <a
									href="" class="tran3s">+998931234567</a></li>
						</ul>
					</div> <!-- /.left-side -->
				</div>
			</div> <!-- /.top-header -->

			<!-- _______________________ Theme Menu _____________________ -->

			<div class="container">
				<div class="main-menu-wrapper clear-fix">
					<div class="container">
						<div class="logo float-left"><a href="{% url 'index' %}" style="vertical-align:middle;"><img
									src="{% static 'images/logo/logo.png' %}" alt="LOGO"></a></div>

						<form action="#" class="float-right">
							<input type="text" placeholder="Qidirish">
							<button><i class="fa fa-search-minus" aria-hidden="true"></i></button>
						</form>

						<!-- Menu -->
						<nav class="navbar float-right">
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
									data-target="#navbar-collapse-1" aria-expanded="false">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							{% block nav %}
							<div class="collapse navbar-collapse" id="navbar-collapse-1">
								<ul class="nav navbar-nav">
									<li class="dropdown-holder current-page-item"><a href="{% url 'index' %}">Bosh sahifa</a>
									</li>
									<li class="dropdown-holder"><a href="{% url 'about_us' %}">Biz haqimizda</a>
									</li>
									<li class="dropdown-holder"><a href="{% url 'events' %}">Tadbirlar</a>
									</li>
									<li class="dropdown-holder"><a href="{% url 'teachers' %}">Hodimlar</a>
									</li>
									<li class="dropdown-holder"><a href="{% url 'news' %}">Yangiliklar</a>
									</li>
									<li><a href="{% url 'contact' %}">Aloqa</a></li>
								</ul>
							</div><!-- /.navbar-collapse -->
							{% endblock %}
						</nav>
					</div>
				</div> <!-- /.main-menu-wrapper -->
			</div>
		</header>

		{% block content %}



		{% endblock content %}

		<!-- Footer ______________________________ -->
		<footer>
			<div class="top-footer">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-about">
							<h4>Biz haqimizda</h4>
							<p>Biz bilan ta'lim oling va ko'plab imkoniyatlarga ega bo'ling. Bizning tajribali 
								o'qituvchilar va bizda yaratilgan sharoitlar sizni yoki farzandingizni sifatli
								ta'lim olishini kafolatlaydi</p>
							<a href="{% url 'about_us' %}" class="tran3s"><i class="fa fa-caret-right" aria-hidden="true"></i>
								Biz haqimizda</a>
							<a href="{% url 'teachers' %}" class="tran3s"><i class="fa fa-caret-right"
									aria-hidden="true"></i>Hodimlar</a>
							<ul>
								<li><a href="https://t.me/Uchtepa_tumani_203_maktab_hayoti" class="tran3s round-border icon"><i class="fa fa-telegram"
											aria-hidden="true"></i></a></li>
								<li><a href="#" class="tran3s round-border icon"><i class="fa fa-instagram"
											aria-hidden="true"></i></a></li>
							</ul>
						</div> <!-- /.footer-about -->

						<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 footer-contact" style="margin-left: 9%;">
							<h4>Biz bilan bog'lanish</h4>


							<ul>
								<li>
									<i class="fa fa-envelope-o" aria-hidden="true"></i>
									<a href="fayyozbekov@gmail.com" class="tran3s">203Maktab@gmail.com</a>
								</li>
								<li>
									<i class="fa fa-phone" aria-hidden="true"></i>
									<a href="#" class="tran3s">+998909069027</a>
								</li>
								<li><i class="fa fa-map-marker" aria-hidden="true"></i>Toshkent viloyati, Uchtepa tumani
								</li>
							</ul>
						</div> <!-- /.footer-contact -->

						<div class="col-lg-2 col-md-6 col-sm-6 col-xs-12 footer-quick-link" style="margin-left: 10%;">
							<h4>Tezkor linklar</h4>
							<ul>
								<li><a href="{% url 'course' %}" class="tran3s"><i class="fa fa-caret-right"
											aria-hidden="true"></i> Bizning kurslar</a></li>
								<li><a href="{% url 'news' %}" class="tran3s"><i class="fa fa-caret-right"
											aria-hidden="true"></i> Yangiliklar</a></li>
								<li><a href="{% url 'events' %}" class="tran3s"><i class="fa fa-caret-right"
											aria-hidden="true"></i> Tadbirlar</a></li>
								<li><a href="{% url 'teachers' %}" class="tran3s"><i class="fa fa-caret-right"
											aria-hidden="true"></i> hodimlar</a></li>
								<li><a href="{% url 'faq' %}" class="tran3s"><i class="fa fa-caret-right"
											aria-hidden="true"></i> Yordam</a></li>
								<li><a href="{% url 'contact' %}" class="tran3s"><i class="fa fa-caret-right"
											aria-hidden="true"></i> Biz bilan bog'lanish</a></li>
				
							</ul>
						</div> <!-- /.footer-quick-link -->
					</div> <!-- /.row -->
				</div> <!-- /.container -->
			</div> <!-- /.top-footer -->

			<div class="bottom-footer">
				<p>Copyright 2022 &copy; <span>|</span> <span class="p-color">206-maktab</span></p>
			</div> <!-- /.bottom-footer -->
		</footer>

		<!-- Scroll Top Button -->
		<button class="scroll-top tran3s p-color-bg">
			<i class="fa fa-angle-up" aria-hidden="true"></i>
		</button>
		<!-- pre loader  -->
		<div id="loader-wrapper">
			<div id="loader"></div>
		</div>





		<!-- Js File_________________________________ -->

		<!-- j Query -->
		<script type="text/javascript" src="{% static 'vendor/jquery-2.1.4.js' %}"></script>

		<!-- Bootstrap JS -->
		<script type="text/javascript" src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>

		<!-- Vendor js _________ -->
		<!-- revolution -->
		<script src="{% static 'vendor/revolution/jquery.themepunch.tools.min.js' %}"></script>
		<script src="{% static 'vendor/revolution/jquery.themepunch.revolution.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/revolution/revolution.extension.slideanims.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/revolution/revolution.extension.layeranimation.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/revolution/revolution.extension.navigation.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/revolution/revolution.extension.kenburn.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/revolution/revolution.extension.actions.min.js' %}"></script>

		<!-- Google map js -->
		<script src="{% static 'api/js' %}"></script> <!-- Gmap Helper -->
		<script src="{% static 'vendor/gmap.js' %}"></script>
		<!-- Bootstrap Select JS -->
		<script type="text/javascript" src="{% static 'vendor/bootstrap-select/dist/js/bootstrap-select.js' %}"></script>
		<!-- Time picker -->
		<script type="text/javascript" src="{% static 'vendor/time-picker/jquery.timepicker.min.js' %}"></script>
		<!-- WOW js -->
		<script type="text/javascript" src="{% static 'vendor/WOW-master/dist/wow.min.js' %}"></script>
		<!-- owl.carousel -->
		<script type="text/javascript" src="{% static 'vendor/owl-carousel/owl.carousel.min.js' %}"></script>
		<!-- js count to -->
		<script type="text/javascript" src="{% static 'vendor/jquery.appear.js' %}"></script>
		<script type="text/javascript" src="{% static 'vendor/jquery.countTo.js' %}"></script>

		<!-- Theme js -->
		<script type="text/javascript" src="{% static 'js/theme.js' %}"></script>

	</div> <!-- /.main-page-wrapper -->
</body>

</html>