{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="collapse navbar-collapse" style="margin-left: 30px;" id="navbar-collapse-1">
	<ul class="nav navbar-nav">
		<li class="dropdown-holder "><a href="{% url 'index' %}">Bosh sahifa</a>
		</li>
		<li class="dropdown-holder"><a href="{% url 'teachers' %}">O'qituvchilar</a>
		</li>
		<li><a href="{% url 'contact' %}">Aloqa</a></li>
	</ul>
</div><!-- /.navbar-collapse -->
{% endblock %}
{% block content %}
<!-- Inner Page Main Banner __________________ -->
<div class="inner-page-banner">
	<div class="opacity">
		<div class="container">
			<h2>Yangiliklar</h2>
		</div> <!-- /.container -->
	</div> <!-- /.opacity -->
</div> <!-- /.inner-page-banner -->


<!-- Blog V2 __________________________ -->
<div class="blog-v2" style="margin-top: 50px;">
	<div class="container">
		<div class="row">

			<div class="col-12">
				<div class="row latest-news blog-v1">
                    {% for i in news %}
					<div class="single-post wow fadeInUp col-lg-4 col-md-6 col-sm-6 col-xs-6">
						<div class="img-holder">
							<div class="date wow fadeInUp p-color-bg">{{ i.time.day }}<span>{{ i.month }}</span></div>
							<img class="news-image" src="{{ i.image.url }}" alt="Image">
							<a href="blog-details.html" class="tran4s"></a>
						</div>
						<div class="text-wrapper">
							<div class="text tran4s">
								<a href="{% url 'news_details' i.id }">{{ i.title }}</a>
							</div> <!-- /.text -->
						</div> <!-- /.text-wrapper -->
					</div> <!-- /.single-post -->
                    {% endfor %}
				</div>
			</div>
		</div>
	</div> <!-- /.container -->
</div> <!-- /.blog-v2 -->

{% endblock %}