{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="collapse navbar-collapse" id="navbar-collapse-1">
	<ul class="nav navbar-nav">
		<li class="dropdown-holder"><a href="{% url 'index' %}">Bosh sahifa</a>
		</li>
		<li class="dropdown-holder"><a href="{% url 'about_us' %}">Biz haqimizda</a>
		</li>
		<li class="dropdown-holder"><a href="{% url 'events' %}">Tadbirlar</a>
		</li>
		<li class="dropdown-holder"><a href="{% url 'teachers' %}">Hodimlar</a>
		</li>
		<li class="dropdown-holder"><a href="{% url 'news' %}">Yangiliklar</a>
		</li>
		<li class="current-page-item"><a href="{% url 'contact' %}">Aloqa</a></li>
	</ul>
</div><!-- /.navbar-collapse -->
{% endblock %}
{% block content %}
<!-- Inner Page Main Banner __________________ -->
<div class="inner-page-banner">
	<div class="opacity">
		<div class="container">
			<h2>Biz bilan bog'lanish</h2>
		</div> <!-- /.container -->
	</div> <!-- /.opacity -->
</div> <!-- /.inner-page-banner -->



<!-- Contact Us Form _____________________ -->
<div class="contact-us-page" style="margin-top: 100px;">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 wow fadeInLeft">
				<div class="contact-us-form">
					<h3>Habar yuborish</h3>
					<p>Sizni qiziqtirgan istalgan savol yuzasidan murojaat qilishingiz mumkun. Yoki fikr va mulohazalaringizni qoldirishingiz mumkun</p>
					<form class="form-validation" autocomplete="off" method="post">
						{% csrf_token %}
						{% include 'partials/_flash_messages.html' %}
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<input name="name" type="text" placeholder="Ism">
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<input name="last_name" type="text" placeholder="Familia">
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<input name="sub" type="text" placeholder="Mavzu">
							</div>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<textarea name="message" placeholder="Habar ..."></textarea>
								<button class="tran3s p-color-bg themehover" title="Send">yuborish</button>
							</div>
						</div>
					</form>
				</div> <!-- /.contact-us-form -->
			</div> <!-- /.col- -->
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 wow fadeInRight">
				<div class="contactUs-address">
					<h3>Biz bilan bog'lanish</h3>
					<p>Veb sahifamizga hush kelibsiz, Agar sizda talab va takliflar yoki qiziqtirgan savollar bo'lsa biz bilan aloqaga chiqing</p>
					<ul>
						<li>
							<i class="fa fa-envelope-o" aria-hidden="true"></i>
							<a href="#" class="tran3s">206Maktab@gmail.com</a>
						</li>
						<li>
							<i class="fa fa-phone" aria-hidden="true"></i>
							<a href="#" class="tran3s">+998909069027</a>
						</li>
						<li><i class="fa fa-map-marker" aria-hidden="true"></i>Toshkent viloyati, Uchtepa tumani
					</ul>
				</div> <!-- /.our-address -->
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</div> <!-- /.contact-us-page -->


<!-- Google Map -->
<div id="google-map" style="height:460px; width:100%; margin-top:100px;"></div>


{% endblock %}