{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="collapse navbar-collapse" id="navbar-collapse-1">
	<ul class="nav navbar-nav">
		<li class="dropdown-holder "><a href="{% url 'index' %}">Bosh sahifa</a>
		</li>
		<li class="dropdown-holder"><a href="{% url 'about_us' %}">Biz haqimizda</a>
		</li>
		<li class="dropdown-holder"><a href="{% url 'events' %}">Tadbirlar</a>
		</li>
		<li class="dropdown-holder"><a href="{% url 'teachers' %}">Hodimlar</a>
		</li>
		<li class="dropdown-holder "><a href="{% url 'news' %}">Yangiliklar</a>
		</li>
		<li><a href="{% url 'contact' %}">Aloqa</a></li>
	</ul>
</div><!-- /.navbar-collapse -->
{% endblock %}
{% block content %}
<!-- Inner Page Main Banner __________________ -->
<div class="inner-page-banner">
	<div class="opacity">
		<div class="container">
			<h2>To'garaklar</h2>
		</div> <!-- /.container -->
	</div> <!-- /.opacity -->
</div> <!-- /.inner-page-banner -->

<div class="course-page-single course-v1">
	
	<!-- Popular Course _________________________ -->
	<div class="popular-course wow fadeInUp theme-bg-color">
		<div class="container">
			<div class="row">
				<div class="course-item-wrapper" style="margin-top: 50px;">
					{% for course in courses %}
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
							<div class="hvr-float-shadow single-course-item">
								<div class="img-holder"><img class="course-image" src="{{ course.image.url }}" alt="Image"></div>
								<div class="text">
									<h4><a href="{% url 'course_details' course.id %}">{{ course.title }}</a></h4>
									<div class="img round-border"><img src="{{ course.teacher.image.url }}" alt="Image"></div>
									<h6>{{ course.teacher.first_name }} {{ course.teacher.last_name }}</h6>
									<p>{{ course.description|truncatechars:100 }}</p>
									<div class="clear-fix">
										{% if course.cost %}
											<a href="{% url 'course_details' course.id %}" style="width: 100px;" class="tran3s p-color-bg themehover">{{ course.cost }} so'm</a>
										{% else %}
											<a href="{% url 'course_details' course.id %}" class="tran3s p-color-bg themehover">Bepul</a>
										{% endif %}
									</div>
								</div> <!-- /.text -->
							</div>
						</div> <!-- /.item -->
					{% endfor %}
				</div> <!-- /.course-slider -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</div> <!-- /.popular-course -->
</div> <!-- /.course-page-single -->


<!-- Latest Event Slider Section _______ -->
<div class="latest-event-slider event-section wow fadeInUp bg-color-fix">
	<div class="container">
		<h3>tadbirlar</h3>
		<div class="row">
			<div class="theme-slider">
				
				{% for event in events %}
					<div class="item hvr-float-shadow">
						<div class="single-event theme-bg-color">
							<div class="date p-color">{{ event.day }} <span>{{ event.month }}</span></div>
							<a href="{% url 'event_details' event.id %}">
								<h6>{{ event.topic }}</h6>
							</a>
							<p>{{ event.description|truncatechars:100 }}</p>
							<ul>
								<li><i class="fa fa-map-marker" aria-hidden="true"></i>{{ event.place }}</li>
								<li><i class="fa fa-clock-o" aria-hidden="true"></i>{{ event.time }}</li>
							</ul>
						</div> <!-- /.single-event -->
					</div> <!-- /.item -->
				{% endfor %}
			</div> <!-- /.theme-slider -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</div> <!-- /.latest-event-slider -->

{% endblock %}