{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block nav %}
<div class="collapse navbar-collapse" id="navbar-collapse-1">
	<ul class="nav navbar-nav">
		<li class="dropdown-holder "><a href="{% url 'index' %}">Bosh sahifa</a>
		</li>
		<li class="dropdown-holder"><a href="{% url 'about_us' %}">Biz haqimizda</a>
		</li>
		<li class="dropdown-holder"><a href="{% url 'events' %}">Tadbirlar</a>
		</li>
		<li class="dropdown-holder"><a href="{% url 'teachers' %}">Hodimlar</a>
		</li>
		<li class="dropdown-holder "><a href="{% url 'news' %}">Yangiliklar</a>
		</li>
		<li><a href="{% url 'contact' %}">Aloqa</a></li>
	</ul>
</div><!-- /.navbar-collapse -->
{% endblock %}
<!-- Inner Page Main Banner __________________ -->
<div class="inner-page-banner">
	<div class="opacity">
		<div class="container">
			<h2>To'garak haqida batafsil</h2>
		</div> <!-- /.container -->
	</div> <!-- /.opacity -->
</div> <!-- /.inner-page-banner -->


<!-- Course Section _______________________ -->
<div class="course-details-page" style="margin-top: 50px;">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<div class="course-details-content clear-fix">
					<div class="img">
						<img src="{{ course.image.url }}" alt="Image">
					</div>
					<h3>{{ course.title }}</h3>

					<div class="sub-text">
						<h4>KURS HAQIDA TO'LIQ MA'LUMOT</h4>
						<p>{{ course.description }}
						</p>
					</div> <!-- /.sub-text -->
					<div class="sub-text">
						<h4>O'ranish uchun yordam</h4>
						<p>{{ course.help }} </p>
					</div> <!-- /.sub-text -->
					<div class="sub-text course-instructor">
						<h4>O'qituvchi</h4>

						<div class="single-box-content clear-fix">
							<div class="item float-left">
								<div class="theme-bg-color">
									<div class="img-holder round-border"><img src="{{ course.teacher.image.url }}" alt="Image"></div>
									<span>{{ course.teacher.first_name }} {{ course.teacher.last_name }}</span>
									<ul class="rating">
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star-o" aria-hidden="true"></i></li>
									</ul>

									<p>{{ course.teacher.position }}</p>

									<ul class="contact-list">
										<li><i class="fa fa-phone" aria-hidden="true"></i>{{ course.teacher.number }}</li>
										<li><i class="fa fa-envelope-o" aria-hidden="true"></i> {{ course.teacher.email }}</li>
									</ul>
								</div>
							</div>
						</div> <!-- /.single-box-content -->

					</div> <!-- /.sub-text -->
				</div> <!-- /.course-details-content -->
			</div> <!-- /.col- -->
			<!-- _________________ SideBar _________________ -->
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 sidebarOne">
				<div class="wrapper-left">

					<div class="sidebar-box feature-event feature-course-sidebar">
						<div class="box-wrapper">
							<h4>Boshqa to'garaklar</h4>
							{% for course in courses %}
								<div class="single-event clear-fix">
									<div class="date float-left p-color-bg">
										{{ course.time.day }} <span>{{ course.month }}</span>
									</div> <!-- /.date -->
									<div class="post float-left">
										<a href="{% url 'course_details' course.id %}" class="tran3s">{{ course.title }}</a>
										<ul>
											<li><i class="fa fa-calendar" aria-hidden="true"></i> {{ course.duration }}</li>
											<li><i class="fa fa-user" aria-hidden="true"></i> {{ course.teacher.first_name }} </li>
										</ul>
									</div> <!-- /.post -->
								</div> <!-- /.single-event -->
							{% endfor %}
						</div> <!-- /.box-wrapper -->
					</div> <!-- /.sidebar-box.feature-event.feature-course-sidebar -->

					<div class="sidebar-box talent-teacher">
						<div class="box-wrapper">
							<h4>Talent teacher</h4>

							<div id="talent-teacher-carousel" class="carousel slide" data-ride="carousel">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#talent-teacher-carousel" data-slide-to="0" class="active"></li>
									<li data-target="#talent-teacher-carousel" data-slide-to="1"></li>
									<li data-target="#talent-teacher-carousel" data-slide-to="2"></li>
								</ol>

								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
									{% for teacher in teachers %}
										{% if forloop.counter == 1 %}
										<div class="item active">
											<img class="talanted-img" src="{{ teacher.image.url }}" alt="Teacher">
											<h6>{{ teacher.first_name }} {{ teacher.last_name }}</h6>

											<ul class="organize-list">
												<li><i class="fa fa-envelope-o" aria-hidden="true"></i>{{ teacher.email }}</li>
												<li><i class="fa fa-phone" aria-hidden="true"></i> {{ teacher.number }}</li>
												<li><i class="fa fa-calendar" aria-hidden="true"></i> {{ teacher.position }}</li>
												</ul>

											<a href="{% url 'staf_details' teacher.id %}" class="theme-bg-color view-profile tran3s">Batafsil</a>
										</div> <!-- /.item -->
										{% else %}
										<div class="item">
											<img class="talanted-img" src="{{ teacher.image.url }}" alt="Teacher">
											<h6>{{ teacher.first_name }} {{ teacher.last_name }}</h6>

											<ul class="organize-list">
												<li><i class="fa fa-envelope-o" aria-hidden="true"></i>
													{{ teacher.email }}</li>
												<li><i class="fa fa-phone" aria-hidden="true"></i> {{ teacher.number }}</li>
												<li><i class="fa fa-calendar" aria-hidden="true"></i> {{ teacher.position }}</li>
												</ul>

											<a href="{% url 'staf_details' teacher.id %}" class="theme-bg-color view-profile tran3s">Batafsil</a>
										</div> <!-- /.item -->
										{% endif %}
									{% endfor %}
								</div>
							</div> <!-- /#talent-teacher-carousel -->
						</div> <!-- /.box-wrapper -->
					</div> <!-- /.sidebar-box.talent-teacher -->
				</div> <!-- /.wrapper -->
			</div> <!-- /.sidebarOne -->
		</div>
	</div>
</div>

{% endblock %}