{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block nav %}
<div class="collapse navbar-collapse" style="margin-left: 30px;" id="navbar-collapse-1">
	<ul class="nav navbar-nav">
		<li class="dropdown-holder "><a href="{% url 'index' %}">Bosh sahifa</a>
		</li>
		<li class="dropdown-holder"><a href="{% url 'teachers' %}">O'qituvchilar</a>
		</li>
		<li><a href="{% url 'contact' %}">Aloqa</a></li>
	</ul>
</div><!-- /.navbar-collapse -->
{% endblock %}
<!-- Inner Page Main Banner __________________ -->
<div class="inner-page-banner">
	<div class="opacity">
		<div class="container">
			<h2>Kurs haqida batafsil</h2>
		</div> <!-- /.container -->
	</div> <!-- /.opacity -->
</div> <!-- /.inner-page-banner -->


<!-- Course Section _______________________ -->
<div class="course-details-page" style="margin-top: 50px;">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<div class="course-details-content clear-fix">
					<div class="img">
						<img src="{{ course.image.url }}" alt="Image">
					</div>
					<h3>{{ course.title }}</h3>

					<div class="sub-text">
						<h4>KURS HAQIDA TO'LIQ MA'LUMOT</h4>
						<p>{{ course.description }}
						</p>
					</div> <!-- /.sub-text -->
					<div class="sub-text">
						<h4>O'ranish uchun yordam</h4>
						<p>{{ course.help }} </p>
					</div> <!-- /.sub-text -->
					<div class="sub-text course-instructor">
						<h4>O'qituvchi</h4>

						<div class="row">
							{% for teacher in course.teacher.all %}
							<div class="col-lg-4 col-md-6 col-12">
								<div class="single-box-content">
									<div class="item" style="margin-top: 3px; width: 100%;">
										<div class="theme-bg-color" style="min-height: 280px; padding: 10px 5px;">
											<div style="width: 90px; height: 90px;" class="img-holder round-border"><img style="width: 100%; height: 100%; object-fit: cover;" src="{{ teacher.image.url }}" alt="Image"></div>
											<span>{{ teacher.first_name }} {{ teacher.last_name }}</span>
											
											
											<a href="{% url 'staf_details' teacher.id %}" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
												<p>{{ teacher.position }}</p>
												<ul class="contact-list" style="padding-left: 0;">
													<li><i class="fa fa-phone" aria-hidden="true"></i>{{ teacher.number }}</li>
													<li><i class="fa fa-envelope-o" aria-hidden="true"></i> {{ teacher.email }}</li>
												</ul>
											</a>
											</div>
										</div>
								</div> <!-- /.single-box-content -->
							</div>
							{% endfor %}
						</div>

					</div> <!-- /.sub-text -->
				</div> <!-- /.course-details-content -->
			</div> <!-- /.col- -->
			<!-- _________________ SideBar _________________ -->
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 sidebarOne">
				<div class="wrapper-left">

					<div class="sidebar-box feature-event feature-course-sidebar">
						<div class="box-wrapper">
							<h4>Boshqa Kurslar</h4>
							{% for course in courses %}
								<div class="single-event clear-fix">
									<div class="post float-left">
										<a href="{% url 'course_details' course.id %}" class="tran3s">{{ course.title }}</a>
										<ul>
											<li><i class="fa fa-calendar" aria-hidden="true"></i> {{ course.duration }}</li>
										</ul>
									</div> <!-- /.post -->
								</div> <!-- /.single-event -->
							{% endfor %}
						</div> <!-- /.box-wrapper -->
					</div> <!-- /.sidebar-box.feature-event.feature-course-sidebar -->
				</div> <!-- /.wrapper -->
			</div> <!-- /.sidebarOne -->
		</div>
	</div>
</div>

<!-- Information Banner _______________________ -->
<div class="information-banner contact-us-page wow fadeInUp">
    <div class="container">
        <h3>Kursga <span class="p-color">ro'yxaatdan o'tish</span></h3>
		<div class="contact-us-form">
			<form class="form-validation" autocomplete="off" method="post">
				{% csrf_token %}
				{% include 'partials/_flash_messages.html' %}
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<input name="name" type="text" placeholder="Ism">
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<input name="last_name" type="text" placeholder="Familia">
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<input name="number" type="text" placeholder="Tel: 998934444444">
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<button class="tran3s p-color-bg themehover" title="Send">yuborish</button>
					</div>
				</div>
			</form>
		</div> <!-- /.contact-us-form -->
    </div> <!-- /.container -->
</div> <!-- /.information-banner -->

{% endblock %}