{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Inner Page Main Banner __________________ -->
<div class="inner-page-banner">
	<div class="opacity">
		<div class="container">
			<h2>Tadbirlar</h2>
		</div> <!-- /.container -->
	</div> <!-- /.opacity -->
</div> <!-- /.inner-page-banner -->


<!-- Page Breadcrum __________________________ -->
<div class="page-breadcrum">
	<div class="container">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li>-</li>
			<li>Event</li>
		</ul>
	</div> <!-- /.container -->
</div> <!-- /.page-breadcrum -->



<!-- Event Section _______________________ -->
<div class="event-section wow fadeInUp">
	<div class="container">
		<div class="row">
            {% for i in events %}
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
				<div class="single-event theme-bg-color">
					<div class="date p-color">{{ i.start_time.day }}<span>{{ i.start_time.month }}</span></div>
					<a href="event-details.html">
						<h6>{{ i.topic }}</h6>
					</a>
					<p>{{ i.description }}</p>
					<ul>
						<li><i class="fa fa-map-marker" aria-hidden="true"></i>{{ i.place }}</li>
						<li><i class="fa fa-clock-o" aria-hidden="true"></i>{{ i.end_time }}</li>
					</ul>
				</div> <!-- /.single-event -->
			</div>
            {% endfor %}
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</div> <!-- /.event-section -->


<!-- Latest Event Slider Section _______ -->
<div class="latest-event-slider event-section wow fadeInUp">
	<div class="container">
		<h3>Bepul to'garaklarimiz</h3>

		<div class="row">
			<div class="theme-slider">
				<div class="item hvr-float-shadow">
					<img src="images/inner-page/9.jpg" alt="Image">
					<div class="single-event theme-bg-color">
						<div class="date p-color">25 <span>June</span></div>
						<a href="event-details.html">
							<h6>Build Education STRATEGY</h6>
						</a>
						<p>Tech you how to build a complete Learning Management Offering a various of solutions meeting
							your need no matter</p>
						<ul>
							<li><i class="fa fa-map-marker" aria-hidden="true"></i> Barisal,CA</li>
							<li><i class="fa fa-clock-o" aria-hidden="true"></i> 10am - 05pm</li>
						</ul>
					</div> <!-- /.single-event -->
				</div> <!-- /.item -->

				<div class="item hvr-float-shadow">
					<img src="images/inner-page/10.jpg" alt="Image">
					<div class="single-event theme-bg-color">
						<div class="date p-color">30 <span>Dec</span></div>
						<a href="event-details.html">
							<h6>Build Education STRATEGY</h6>
						</a>
						<p>Tech you how to build a complete Learning Management Offering a various of solutions meeting
							your need no matter</p>
						<ul>
							<li><i class="fa fa-map-marker" aria-hidden="true"></i> Barisal,CA</li>
							<li><i class="fa fa-clock-o" aria-hidden="true"></i> 10am - 05pm</li>
						</ul>
					</div> <!-- /.single-event -->
				</div> <!-- /.item -->

				<div class="item hvr-float-shadow">
					<img src="images/inner-page/11.jpg" alt="Image">
					<div class="single-event theme-bg-color">
						<div class="date p-color">15 <span>June</span></div>
						<a href="event-details.html">
							<h6>Build Education STRATEGY</h6>
						</a>
						<p>Tech you how to build a complete Learning Management Offering a various of solutions meeting
							your need no matter</p>
						<ul>
							<li><i class="fa fa-map-marker" aria-hidden="true"></i> Barisal,CA</li>
							<li><i class="fa fa-clock-o" aria-hidden="true"></i> 10am - 05pm</li>
						</ul>
					</div> <!-- /.single-event -->
				</div> <!-- /.item -->

				<div class="item hvr-float-shadow">
					<img src="images/inner-page/9.jpg" alt="Image">
					<div class="single-event theme-bg-color">
						<div class="date p-color">05 <span>Sep</span></div>
						<a href="event-details.html">
							<h6>Build Education STRATEGY</h6>
						</a>
						<p>Tech you how to build a complete Learning Management Offering a various of solutions meeting
							your need no matter</p>
						<ul>
							<li><i class="fa fa-map-marker" aria-hidden="true"></i> Barisal,CA</li>
							<li><i class="fa fa-clock-o" aria-hidden="true"></i> 10am - 05pm</li>
						</ul>
					</div> <!-- /.single-event -->
				</div> <!-- /.item -->

				<div class="item hvr-float-shadow">
					<img src="images/inner-page/10.jpg" alt="Image">
					<div class="single-event theme-bg-color">
						<div class="date p-color">11 <span>June</span></div>
						<a href="event-details.html">
							<h6>Build Education STRATEGY</h6>
						</a>
						<p>Tech you how to build a complete Learning Management Offering a various of solutions meeting
							your need no matter</p>
						<ul>
							<li><i class="fa fa-map-marker" aria-hidden="true"></i> Barisal,CA</li>
							<li><i class="fa fa-clock-o" aria-hidden="true"></i> 10am - 05pm</li>
						</ul>
					</div> <!-- /.single-event -->
				</div> <!-- /.item -->

				<div class="item hvr-float-shadow">
					<img src="images/inner-page/11.jpg" alt="Image">
					<div class="single-event theme-bg-color">
						<div class="date p-color">20 <span>Nov</span></div>
						<a href="event-details.html">
							<h6>Build Education STRATEGY</h6>
						</a>
						<p>Tech you how to build a complete Learning Management Offering a various of solutions meeting
							your need no matter</p>
						<ul>
							<li><i class="fa fa-map-marker" aria-hidden="true"></i> Barisal,CA</li>
							<li><i class="fa fa-clock-o" aria-hidden="true"></i> 10am - 05pm</li>
						</ul>
					</div> <!-- /.single-event -->
				</div> <!-- /.item -->

				<div class="item hvr-float-shadow">
					<img src="images/inner-page/9.jpg" alt="Image">
					<div class="single-event theme-bg-color">
						<div class="date p-color">10 <span>May</span></div>
						<a href="event-details.html">
							<h6>Build Education STRATEGY</h6>
						</a>
						<p>Tech you how to build a complete Learning Management Offering a various of solutions meeting
							your need no matter</p>
						<ul>
							<li><i class="fa fa-map-marker" aria-hidden="true"></i> Barisal,CA</li>
							<li><i class="fa fa-clock-o" aria-hidden="true"></i> 10am - 05pm</li>
						</ul>
					</div> <!-- /.single-event -->
				</div> <!-- /.item -->
			</div> <!-- /.theme-slider -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</div> <!-- /.latest-event-slider -->




<!-- SubsCribe Banner ___________________ -->
<div class="subscribe-banner p-color-bg wow fadeInUp">
	<div class="container">
		<h3>Obuna bo'ling</h3>
		<p>Biz haqimizda yangiliklar, yangi kurslar, olimpiadalar haqida ma'lumotlarni kuzatib borish uchun
			obuna bo'ling</p>
		<form action="#" class="clear-fix">
			<input type="email" class="float-left wow fadeInLeft" placeholder="Email address">
			<button class="float-left tran3s wow fadeInRight">Obuna bo'lish</button>
		</form>
	</div>
</div>
{% endblock %}