{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="collapse navbar-collapse" id="navbar-collapse-1">
	<ul class="nav navbar-nav">
		<li class="dropdown-holder "><a href="{% url 'index' %}">Bosh sahifa</a>
		</li>
		<li class="dropdown-holder"><a href="{% url 'about_us' %}">Biz haqimizda</a>
		</li>
		<li class="dropdown-holder current-page-item"><a href="{% url 'events' %}">Tadbirlar</a>
		</li>
		<li class="dropdown-holder"><a href="{% url 'teachers' %}">Hodimlar</a>
		</li>
		<li class="dropdown-holder"><a href="{% url 'news' %}">Yangiliklar</a>
		</li>
		<li><a href="{% url 'contact' %}">Aloqa</a></li>
	</ul>
</div><!-- /.navbar-collapse -->
{% endblock %}
{% block content %}
<!-- Inner Page Main Banner __________________ -->
<div class="inner-page-banner">
	<div class="opacity">
		<div class="container">
			<h2>Tadbirlar</h2>
		</div> <!-- /.container -->
	</div> <!-- /.opacity -->
</div> <!-- /.inner-page-banner -->


<!-- Event Section _______________________ -->
<div class="event-details-page" style="margin-top: 50px;">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 float-right">
				<div class="event-details-content clear-fix">
					<img src="{{ event.imageUrl }}" alt="Image">
					<h3>{{ event.topic }}</h3>

					<div class="sub-text">
						<h4>Tadbir haqida batafsil</h4>
						<p>{{ event.description }}</p>
					</div> <!-- /.sub-text -->
					<div class="sub-text">
						<h4>Tadbirdan Maqsad</h4>
						<p>{{ event.aim }}</p>
					</div> <!-- /.sub-text -->
					<hr>
				</div> <!-- /.event-details-content -->
			</div> <!-- /.col- -->
			<!-- _________________ SideBar _________________ -->
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 sidebarOne float-left">
				<div class="wrapper">
					<div class="sidebar-box feature-event">
						<div class="box-wrapper">
							<h4>Boshqa tadbirlar</h4>
							{% for event in more_events %}
								<div class="single-event clear-fix">
									<div class="date float-left p-color-bg">
										{{ event.start_time.day }} <span>{{ event.month }}</span>
									</div> <!-- /.date -->
									<div class="post float-left">
										<a href="{% url 'event_details' event.id %}" class="tran3s"> {{ event.topic }} </a>
										<ul>
											<li><i class="fa fa-clock-o" aria-hidden="true"></i> {{ event.time }}</li>
											<li><i class="fa fa-tag" aria-hidden="true"></i> {{ event.place }} </li>
										</ul>
									</div> <!-- /.post -->
								</div> <!-- /.single-event -->
							{% endfor %}
						</div> <!-- /.box-wrapper -->
					</div> <!-- /.sidebar-box.feature-event -->
				</div> <!-- /.wrapper -->
			</div> <!-- /.sidebarOne -->
		</div>
	</div>
</div>

<!-- Information Banner _______________________ -->
<div class="information-banner wow fadeInUp">
    <div class="container">
        <h3>O'qituvchilar,o'quv jarayoni haqida ma'lumotlarni <span class="p-color">bilish uchun</span></h3>
        <h6>Biz bilan bog'laning</h6>
        <a href="{% url 'contact' %}" class="p-color-bg tran3s wow fadeInUp">bo'glanish</a>
    </div> <!-- /.container -->
</div> <!-- /.information-banner -->
{% endblock %}