{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="collapse navbar-collapse" id="navbar-collapse-1">
	<ul class="nav navbar-nav">
		<li class="dropdown-holder "><a href="{% url 'index' %}">Bosh sahifa</a>
		</li>
		<li class="dropdown-holder"><a href="{% url 'about_us' %}">Biz haqimizda</a>
		</li>
		<li class="dropdown-holder current-page-item"><a href="{% url 'events' %}">Tadbirlar</a>
		</li>
		<li class="dropdown-holder"><a href="{% url 'teachers' %}">Hodimlar</a>
		</li>
		<li class="dropdown-holder"><a href="{% url 'news' %}">Yangiliklar</a>
		</li>
		<li><a href="{% url 'contact' %}">Aloqa</a></li>
	</ul>
</div><!-- /.navbar-collapse -->
{% endblock %}
{% block content %}
<!-- Inner Page Main Banner __________________ -->
<div class="inner-page-banner">
	<div class="opacity">
		<div class="container">
			<h2>Tadbirlar</h2>
		</div> <!-- /.container -->
	</div> <!-- /.opacity -->
</div> <!-- /.inner-page-banner -->


<!-- Event Section _______________________ -->
<div class="event-section wow fadeInUp">
	<div class="container" style="margin-top: -100px;">
		<div class="row">
            {% for i in events %}
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
				<div class="single-event theme-bg-color" style="min-height: 280px;">
					<div class="date p-color">{{ i.start_time.day }}<span>{{ i.month }}</span></div>
					<a href="{% url 'event_details' i.id %}">
						<h6>{{ i.topic }}</h6>
					</a>
					<p>{{ i.description | truncatechars:80 }}</p>
					<ul>
						<li><i class="fa fa-map-marker" aria-hidden="true"></i>{{ i.place }}</li>
						<li><i class="fa fa-clock-o" aria-hidden="true"></i>{{ i.end_time }}</li>
					</ul>
				</div> <!-- /.single-event -->
			</div>
            {% endfor %}
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</div> <!-- /.event-section -->


<!-- Latest Event Slider Section _______ -->
<div class="latest-event-slider event-section wow fadeInUp">
	<div class="container">
		<h3>Bepul to'garaklarimiz</h3>

		<div class="row">
			<div class="theme-slider">
				{% for course in courses %}
					<div class="item hvr-float-shadow">
						<img class="course-image" src="{{ course.image.url }}" alt="Image">
						<div class="single-event theme-bg-color">
							<div class="date p-color">{{ course.time.day }} <span>{{ course.month }}</span></div>
							<a href="{% url 'event_details' course.id %}"><h6>{{ course.title }}</h6></a>
							<p>{{ course.description | truncatechars:100 }}</p>
						</div> <!-- /.single-event -->
					</div> <!-- /.item -->
				{% endfor %}
			</div> <!-- /.theme-slider -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</div> <!-- /.latest-event-slider -->


{% endblock %}