{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Theme Banner ________________________________ -->
<div id="banner">
    <div class="rev_slider_wrapper">
        <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
        <div id="main-banner-slider" class="rev_slider" data-version="5.0.7">
            <ul>

                <!-- SLIDE1  -->
                <li data-index="rs-280" data-transition="zoomout" data-slotamount="default"
                    data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"
                    data-rotate="0" data-saveperformance="off" data-title="Title Goes Here" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'images/home/slide-1.jpg' %}" alt="image" class="rev-slidebg"
                        data-bgparallax="3" data-bgposition="center center" data-duration="20000"
                        data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend="0 0"
                        data-offsetstart="0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="100"
                        data-scalestart="140">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption" data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-56','-56','-45','-150']"
                        data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000"
                        data-splitin="none" data-splitout="none" data-responsive_offset="on"
                        style="z-index: 6; white-space: nowrap;">
                        <h5>Yuzlab qobilyatli o'quvchilar shu yerda </h5>
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption" data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['20','25','30','-85']"
                        data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="2000"
                        data-splitin="none" data-splitout="none" data-responsive_offset="on"
                        style="z-index: 6; white-space: nowrap;">
                        <h1>Ta'lim <span class="p-color">hayotning</span> <br>asosi</h1>
                    </div>


                </li>


                <!-- SLIDE2  -->
                <li data-index="rs-18" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut"
                    data-easeout="Power4.easeInOut" data-masterspeed="2000"
                    data-thumb="{% static 'images/home/slide-2.jpg' %}" data-rotate="0" data-saveperformance="off"
                    data-title="Title Goes Here" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'images/home/slide-2.jpg' %}" alt="" data-bgposition="center center"
                        data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100"
                        data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0"
                        data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina="">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption" data-x="['center','center','center','center']"
                        data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                        data-voffset="['-56','-56','-36','-150']" data-width="none" data-height="none"
                        data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000"
                        data-splitin="none" data-splitout="none" data-responsive_offset="on"
                        style="z-index: 6; white-space: nowrap;">
                        <h5>Yuzlab qobilyatli o'quvchilar shu yerda </h5>
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption" data-x="['center','center','center','center']"
                        data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                        data-voffset="['20','20','45','-85']" data-width="none" data-height="none"
                        data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="2000"
                        data-splitin="none" data-splitout="none" data-responsive_offset="on"
                        style="z-index: 6; white-space: nowrap;">
                        <h1 class="center-item">Yangi muhitda <span class="p-color">Yangi usulda</span>
                            <br>Ta'lim oling
                        </h1>
                    </div>


                </li>


                <!-- SLIDE3  -->
                <li data-index="rs-20" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut"
                    data-easeout="Power4.easeInOut" data-masterspeed="2000"
                    data-thumb="{% static 'images/home/slide-5.jpg' %}" data-rotate="0" data-saveperformance="off"
                    data-title="Title Goes Here" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'images/home/slide-5.jpg' %}" alt="" data-bgposition="center center"
                        data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100"
                        data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 -500"
                        data-offsetend="0 500" data-bgparallax="10" class="rev-slidebg" data-no-retina="">
                    <!-- LAYERS -->

                    <!-- LAYER NR. 1 -->
                    <div class="tp-caption" data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['-56','-56','-45','-150']"
                        data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000"
                        data-splitin="none" data-splitout="none" data-responsive_offset="on"
                        style="z-index: 6; white-space: nowrap;">
                        <h5>Yuzlab qobilyatli o'quvchilar shu yerda </h5>
                    </div>

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption" data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                        data-y="['middle','middle','middle','middle']" data-voffset="['20','25','30','-85']"
                        data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                        data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="2000"
                        data-splitin="none" data-splitout="none" data-responsive_offset="on"
                        style="z-index: 6; white-space: nowrap;">
                        <h1>Ta'lim<span class="p-color"> hayotning</span> <br>asosi</h1>
                    </div>

                </li>
            </ul>
        </div>
    </div><!-- END REVOLUTION SLIDER -->
</div> <!--  /#banner -->





<!-- Welcome Section ___________________________ -->
<div class="welcome-section">
    <div class="container">
        <div class="section-title wow fadeInUp">
            <h2 class="p-color"> xush kelibsiz</h2>
            <h5>Muvaffaqayatli o'quvchilarimiz safiga qo'shiling</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cum quasi sequi facilis
                facere quod ipsam deleniti vero ab. Doloribus atque molestiae dolorum illo sunt, cumque maiores
                magnam iusto reiciendis!</p>
        </div> <!-- /.section-title -->

        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeInUp">
                <h3><i class="fa fa-graduation-cap" aria-hidden="true"></i> LEARN COUSES first</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam consectetur sequi
                    voluptates id libero placeat eaque, consequuntur ipsa fuga sapiente at excepturi perferendis
                    voluptas? Quia repellendus excepturi sint aperiam vero! </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeInUp">
                <h3><i class="fa fa-tags" aria-hidden="true"></i> 440 Courses available</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam consectetur sequi
                    voluptates id libero placeat eaque, consequuntur ipsa fuga sapiente at excepturi perferendis
                    voluptas? Quia repellendus excepturi sint aperiam vero! </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 wow fadeInUp">
                <h3><i class="fa fa-diamond" aria-hidden="true"></i> Everything you need</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam consectetur sequi
                    voluptates id libero placeat eaque, consequuntur ipsa fuga sapiente at excepturi perferendis
                    voluptas? Quia repellendus excepturi sint aperiam vero! </p>
            </div>
        </div>
    </div> <!-- /.container -->
</div> <!-- /.welcome-section -->



<!-- Popular Course _________________________ -->
<div class="popular-course wow fadeInUp theme-bg-color">
    <div class="container">
        <h2>Qiziqarli mashg'ulotlar</h2>

        <div class="row">
            <div class="theme-slider course-item-wrapper">
                {% for course in courses %}
                <div class="item hvr-float-shadow">
                    <div class="img-holder"><img src="{{ course.image.url }}" alt="Image"></div>
                    <div class="text">
                        <h4><a href="course-details.html">Tarix</a></h4>
                        <div class="img round-border"><img src="{{ course.teacher.image.url }}" alt="Image"></div>
                        <h6>{{ course.teacher.first_name }}{{ course.teacher.last_name }}</h6>
                        <p>{{ course.description }}</p>
                    </div> <!-- /.text -->
                </div> <!-- /.item -->
                {% endfor %}
                <div class="item hvr-float-shadow">
                    <div class="img-holder"><img src="{% static 'images/home/3.jpg' %}" alt="Image"></div>
                    <div class="text">
                        <h4><a href="course-details.html">Nemis tili mashg'ulotlari</a></h4>
                        <div class="img round-border"><img src="{% static 'images/home/1.png' %}" alt="Image"></div>
                        <h6>Mahfuz riad</h6>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam consectetur sequi
                            voluptates id libero placeat eaque, consequuntur ipsa fuga sapiente at excepturi
                            perferendis voluptas? Quia repellendus excepturi sint aperiam vero!</p>
                        <div class="clear-fix">
                            <ul class="float-left">
                                <li><i class="fa fa-users" aria-hidden="true"></i> 345</li>
                                <li><i class="fa fa-comment" aria-hidden="true"></i> 5</li>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i> Tea road,CA</li>
                            </ul>
                        </div>
                    </div> <!-- /.text -->
                </div> <!-- /.item -->

                <div class="item hvr-float-shadow">
                    <div class="img-holder"><img src="{% static 'images/home/4.jpg' %}" alt="Image"></div>
                    <div class="text">
                        <h4><a href="course-details.html">Kun tartibini rejalashtirish</a></h4>
                        <div class="img round-border"><img src="{% static 'images/home/1.png' %}" alt="Image"></div>
                        <h6>Mahfuz riad</h6>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam consectetur sequi
                            voluptates id libero placeat eaque, consequuntur ipsa fuga sapiente at excepturi
                            perferendis voluptas? Quia repellendus excepturi sint aperiam vero!</p>
                        <div class="clear-fix">
                            <ul class="float-left">
                                <li><i class="fa fa-users" aria-hidden="true"></i> 345</li>
                                <li><i class="fa fa-comment" aria-hidden="true"></i> 5</li>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i> Tea road,CA</li>
                            </ul>
                        </div>
                    </div> <!-- /.text -->
                </div> <!-- /.item -->

                <div class="item hvr-float-shadow">
                    <div class="img-holder"><img src="{% static 'images/home/3.jpg' %}" alt="Image"></div>
                    <div class="text">
                        <h4><a href="course-details.html">Kompyuter savodxonligi</a></h4>
                        <div class="img round-border"><img src="{% static 'images/home/1.png' %}" alt="Image"></div>
                        <h6>Mahfuz riad</h6>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam consectetur sequi
                            voluptates id libero placeat eaque, consequuntur ipsa fuga sapiente at excepturi
                            perferendis voluptas? Quia repellendus excepturi sint aperiam vero!</p>

                    </div> <!-- /.text -->
                </div> <!-- /.item -->

                <div class="item hvr-float-shadow">
                    <div class="img-holder"><img src="{% static 'images/home/2.jpg' %}" alt="Image"></div>
                    <div class="text">
                        <h4><a href="course-details.html">Veb sayt tayyorlash</a></h4>
                        <div class="img round-border"><img src="{% static 'images/home/1.png' %}" alt="Image"></div>
                        <h6>Mahfuz riad</h6>

                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam consectetur sequi
                            voluptates id libero placeat eaque, consequuntur ipsa fuga sapiente at excepturi
                            perferendis voluptas? Quia repellendus excepturi sint aperiam vero!</p>

                    </div> <!-- /.text -->
                </div> <!-- /.item -->

                <div class="item hvr-float-shadow">
                    <div class="img-holder"><img src="{% static 'images/home/4.jpg' %}" alt="Image"></div>
                    <div class="text">
                        <h4><a href="course-details.html">Mental Arifmetika</a></h4>
                        <div class="img round-border"><img src="{% static 'images/home/1.png' %}" alt="Image"></div>
                        <h6>Mahfuz riad</h6>

                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam consectetur sequi
                            voluptates id libero placeat eaque, consequuntur ipsa fuga sapiente at excepturi
                            perferendis voluptas? Quia repellendus excepturi sint aperiam vero!</p>

                    </div> <!-- /.text -->
                </div> <!-- /.item -->
            </div> <!-- /.course-slider -->
        </div>
    </div> <!-- /.container -->
</div> <!-- /.popular-course -->


<!-- course Progress  __________________________ -->
<div class="course-progress">
    <div class="opacity">
        <div class="container">
            <h2>Ko'plab bilimlarni <span class="p-color">Biz bilan</span> o'rganing</h2>
            <p>Farzangingizni sifatli ta'lim olishi uchun qulay sharoitlar yaratilgan.</p>
            <h6>Bizning Natijalarimiz</h6>

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="icon"> <i class="ficon flaticon-crowdfunding"></i> </div>
                    <p>Tajribali ustozlar</p>
                    <div class="number"><span class="timer" data-from="0" data-to="{{ statistics.teachers }}" data-speed="1500"
                            data-refresh-interval="5">0</span></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="icon"><i class="ficon flaticon-teamwork"></i></div>
                    <p>Bitiruvchi o'quvchilar</p>
                    <div class="number"><span class="timer" data-from="0" data-to="{{ statistics.finishers }}" data-speed="1500"
                            data-refresh-interval="5">0</span></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="icon"><i class="ficon flaticon-medical"></i></div>
                    <p>Barcha o'quvchilar</p>
                    <div class="number"><span class="timer" data-from="0" data-to="{{ statistics.pupils }}" data-speed="1500"
                            data-refresh-interval="5">0</span></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="icon"><i class="ficon flaticon-book"></i></div>
                    <p>Maxsus Kurslar</p>
                    <div class="number"><span class="timer" data-from="0" data-to="{{ statistics.special_courses }}" data-speed="1500"
                            data-refresh-interval="5">0</span></div>
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.opacity -->
</div> <!-- /.course-progress -->



<!-- Event Section _______________________ -->
<div class="event-section wow fadeInUp">
    <div class="container">
        <div class="theme-title">
            <h2>Tadbirlar</h2>
            <p>Kutilayotgan Tadbir va Musobaqalar</p>
        </div>

        <div class="row">
            {% for event in events %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
                <div class="single-event theme-bg-color">
                    <div class="date p-color">{{ event.day }}<span>{{ event.month }}</span></div>
                    <a href="event-details.html">
                        <h6>{{ event.title }}</h6>
                    </a>
                    <p>{{ event.description }}</p>
                    <ul>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i>{{ event.place }}</li>
                        <li><i class="fa fa-clock-o" aria-hidden="true"></i>{{ event.time }}</li>
                    </ul>
                </div> <!-- /.single-event -->
            </div>
            {% endfor %}

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
                <div class="single-event theme-bg-color">
                    <div class="date p-color">26 <span>June</span></div>
                    <a href="event-details.html">
                        <h6>Build Education STRATEGY</h6>
                    </a>
                    <p>Tech you how to build a complete Learning Management Offering a various of solutions
                        meeting your need no matter</p>
                    <ul>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> Barisal,CA</li>
                        <li><i class="fa fa-clock-o" aria-hidden="true"></i> 10am - 05pm</li>
                    </ul>
                </div> <!-- /.single-event -->
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeInUp hvr-float-shadow">
                <div class="single-event theme-bg-color">
                    <div class="date p-color">27 <span>June</span></div>
                    <a href="event-details.html">
                        <h6>Build Education STRATEGY</h6>
                    </a>
                    <p>Tech you how to build a complete Learning Management Offering a various of solutions
                        meeting your need no matter</p>
                    <ul>
                        <li><i class="fa fa-map-marker" aria-hidden="true"></i> Barisal,CA</li>
                        <li><i class="fa fa-clock-o" aria-hidden="true"></i> 10am - 05pm</li>
                    </ul>
                </div> <!-- /.single-event -->
            </div>
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.event-section -->



<!-- Information Banner _______________________ -->
<div class="information-banner wow fadeInUp">
    <div class="container">
        <h3>O'qituvchilar,o'quv jarayoni haqida ma'lumotlarni <span class="p-color">bilish uchun</span></h3>
        <h6>Biz bilan bog'laning</h6>
        <a href="{% url 'contact' %}" class="p-color-bg tran3s wow fadeInUp">bo'glanish</a>
    </div> <!-- /.container -->
</div> <!-- /.information-banner -->





<!-- Latest News ___________________________ -->
<div class="latest-news wow fadeInUp theme-bg-color">
    <div class="container">
        <div class="theme-title">
            <h2>So'ngi yangiliklar</h2>
            <p>Bizning maktab haqida so'ngi yangiliklar</p>
        </div>

        <div class="post-wrapper row">
            {% for new in news %}
            <div class="single-post wow fadeInUp col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="img-holder">
                    <div class="date wow fadeInUp p-color-bg">{{ new.day }} <span>{{ new.month }}</span></div>
                    <img src="{{ new.image.url }}" alt="Image">
                    <a href="blog-details.html" class="tran4s"></a>
                </div>
                <div class="text-wrapper">
                    <div class="text tran4s">
                        <a href="blog-details.html"> {{ new.title }} </a>
                        <p>{{ new.description|truncatechars:100 }}</p>
                    </div> <!-- /.text -->
                </div> <!-- /.text-wrapper -->
            </div> <!-- /.single-post -->
            {% endfor %}

            <div class="single-post wow fadeInUp col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="img-holder">
                    <div class="date wow fadeInUp p-color-bg">12 <span>Sep</span></div>
                    <img src="images/blog/2.jpg" alt="Image">
                    <a href="blog-details.html" class="tran4s"></a>
                </div>
                <div class="text-wrapper">
                    <div class="text tran4s">
                        <a href="blog-details.html">New school budget </a>
                        <p>Education is the process of facilitating learning. Knowledge kills, values, beliefs,
                            and habits of a group of people are trans- ferred </p>
                    </div> <!-- /.text -->
                </div> <!-- /.text-wrapper -->
            </div> <!-- /.single-post -->

            <div class="single-post wow fadeInUp col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="img-holder">
                    <div class="date wow fadeInUp p-color-bg">12 <span>Sep</span></div>
                    <img src="images/blog/3.jpg" alt="Image">
                    <a href="blog-details.html" class="tran4s"></a>
                </div>
                <div class="text-wrapper">
                    <div class="text tran4s">
                        <a href="blog-details.html">New school budget </a>
                        <p>Education is the process of facilitating learning. Knowledge kills, values, beliefs,
                            and habits of a group of people are trans- ferred </p>
                    </div> <!-- /.text -->
                </div> <!-- /.text-wrapper -->
            </div> <!-- /.single-post -->
        </div> <!-- /.post-wrapper -->
    </div> <!-- /.container -->
</div> <!-- /.latest-news -->



<!-- Testimonial And FAQ Section _________________________ -->
<div class="test-faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 testimonial wow fadeInLeft">
                <div class="wrapper">
                    <h3>Biz haqimizda fikrlar</h3>
                    <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#testimonial-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#testimonial-carousel" data-slide-to="1"></li>
                            <li data-target="#testimonial-carousel" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="single-box theme-bg-color">
                                    <div class="img round-border"><img src="images/home/2.png" alt="Image">
                                    </div>
                                    <h6>ghost riad <span>(Sir.Principal)</span></h6>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam
                                        consectetur sequi voluptates id libero placeat eaque, consequuntur ipsa
                                        fuga sapiente at excepturi perferendis voluptas? Quia repellendus
                                        excepturi sint aperiam vero!</p>
                                </div> <!-- /.single-box -->

                                <div class="single-box theme-bg-color">
                                    <div class="img round-border"><img src="images/home/3.png" alt="Image">
                                    </div>
                                    <h6>Masum nodi <span>(Sir.Principal Fohinni)</span></h6>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam
                                        consectetur sequi voluptates id libero placeat eaque, consequuntur ipsa
                                        fuga sapiente at excepturi perferendis voluptas? Quia repellendus
                                        excepturi sint aperiam vero!</p>
                                </div> <!-- /.single-box -->
                            </div>

                            <div class="item">
                                <div class="single-box theme-bg-color">
                                    <div class="img round-border"><img src="images/home/2.png" alt="Image">
                                    </div>
                                    <h6>ghost riad <span>(Sir.Principal)</span></h6>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam
                                        consectetur sequi voluptates id libero placeat eaque, consequuntur ipsa
                                        fuga sapiente at excepturi perferendis voluptas? Quia repellendus
                                        excepturi sint aperiam vero!</p>
                                </div> <!-- /.single-box -->

                                <div class="single-box theme-bg-color">
                                    <div class="img round-border"><img src="images/home/3.png" alt="Image">
                                    </div>
                                    <h6>Masum nodi <span>(Sir.Principal Fohinni)</span></h6>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam
                                        consectetur sequi voluptates id libero placeat eaque, consequuntur ipsa
                                        fuga sapiente at excepturi perferendis voluptas? Quia repellendus
                                        excepturi sint aperiam vero!</p>
                                </div> <!-- /.single-box -->
                            </div>

                            <div class="item">
                                <div class="single-box theme-bg-color">
                                    <div class="img round-border"><img src="images/home/2.png" alt="Image">
                                    </div>
                                    <h6>ghost riad <span>(Sir.Principal)</span></h6>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam
                                        consectetur sequi voluptates id libero placeat eaque, consequuntur ipsa
                                        fuga sapiente at excepturi perferendis voluptas? Quia repellendus
                                        excepturi sint aperiam vero!</p>
                                </div> <!-- /.single-box -->

                                <div class="single-box theme-bg-color">
                                    <div class="img round-border"><img src="images/home/3.png" alt="Image">
                                    </div>
                                    <h6>Masum nodi <span>(Sir.Principal Fohinni)</span></h6>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam
                                        consectetur sequi voluptates id libero placeat eaque, consequuntur ipsa
                                        fuga sapiente at excepturi perferendis voluptas? Quia repellendus
                                        excepturi sint aperiam vero!</p>
                                </div> <!-- /.single-box -->
                            </div>
                        </div>
                    </div> <!-- /#testimonial-carousel -->
                </div> <!-- /.wrapper -->
            </div> <!-- /.testimonial -->

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 faq wow fadeInRight">
                <div class="wrapper">
                    <h3>Ko'p so'raladigon savollar</h3>
                    <!-- ________________ Panel _______________ -->
                    <div class="faq_panel">
                        <div class="panel-group theme-accordion" id="accordion">
                            {% for f in faq %}
                                <div class="panel">
                                    <div class="panel-heading active-panel">
                                        <h6 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
                                                {{ f.question }}</a>
                                        </h6>
                                    </div>
                                    <div id="collapse1" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <p>{{ f.answer }}</p>
                                        </div>
                                    </div>
                                </div> <!-- /panel 1 -->
                            {% endfor %}


                            <div class="panel">
                                <div class="panel-heading">
                                    <h6 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                            Build Education Website Using HTML</a>
                                    </h6>
                                </div>
                                <div id="collapse4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam
                                            consectetur sequi voluptates id libero placeat eaque, consequuntur
                                            ipsa fuga sapiente at excepturi perferendis voluptas? Quia
                                            repellendus excepturi sint aperiam vero!</p>
                                    </div>
                                </div>
                            </div> <!-- /panel 4 -->

                            <div class="panel">
                                <div class="panel-heading">
                                    <h6 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                            BEST INDUSTRY LEADERS for awesome courses</a>
                                    </h6>
                                </div>
                                <div id="collapse5" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam
                                            consectetur sequi voluptates id libero placeat eaque, consequuntur
                                            ipsa fuga sapiente at excepturi perferendis voluptas? Quia
                                            repellendus excepturi sint aperiam vero!</p>
                                    </div>
                                </div>
                            </div> <!-- /panel 5 -->

                        </div> <!-- end #accordion -->
                    </div> <!-- End of .faq_panel -->
                </div> <!-- /.wrapper -->
            </div> <!-- /.faq -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.test-faq -->



<!-- SubsCribe Banner ___________________ -->
<div class="subscribe-banner p-color-bg wow fadeInUp">
    <div class="container">
        <h3>Obuna bo'ling</h3>
        <p>Biz haqimizda yangiliklar, yangi kurslar, olimpiadalar haqida ma'lumotlarni kuzatib borish uchun
            obuna bo'ling</p>
        <form action="#" class="clear-fix">
            <input type="email" class="float-left wow fadeInLeft" placeholder="Email address">
            <button class="float-left tran3s wow fadeInRight">Obuna bo'lish</button>
        </form>
    </div>
</div>
{% endblock %}