{% extends 'base.html' %}
{% load static %}
{% block head %}
{% include 'header.html' %}
{% endblock head %}
{% block content %}
<!-- Theme Banner ________________________________ -->
<div id="banner">
    <div class="rev_slider_wrapper">
        <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
        <div id="main-banner-slider" class="rev_slider" data-version="5.0.7">
            <ul>
                {% for banner in banner %}
                    {% if forloop.counter == 1 %}
                    <!-- SLIDE1  -->
                    <li data-index="rs-280" data-transition="zoomout" data-slotamount="default"
                        data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"
                        data-rotate="0" data-saveperformance="off" data-title="Title Goes Here" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{{ banner.image.url }}" alt="image" class="rev-slidebg"
                            data-bgparallax="3" data-bgposition="center center" data-duration="10000"
                            data-ease="Linear.easeNone" data-kenburns="on" data-no-retina="" data-offsetend="0 0"
                            data-offsetstart="0 0" data-rotateend="0" data-rotatestart="0" data-scaleend="90"
                            data-scalestart="130">
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption" data-x="['left','left','left','left']" data-hoffset="['0','25','35','15']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['-56','-56','-45','-50']"
                            data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;"
                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                            data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000"
                            data-splitin="none" data-splitout="none" data-responsive_offset="on"
                            style="z-index: 6; white-space: nowrap;">
                            <h3 style="color: white;">{{ banner.text }}</h3>
                        </div>

                    </li>
                    {% else %}
                    <!-- SLIDE2  -->
                    <li data-index="rs-18" data-transition="zoomin" data-slotamount="7" data-easein="Power4.easeInOut"
                        data-easeout="Power4.easeInOut" data-masterspeed="2000"
                        data-thumb="{{ banner.imga.url }}" data-rotate="0" data-saveperformance="off"
                        data-title="Title Goes Here" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{{ banner.image.url }}" alt="" data-bgposition="center center"
                            data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100"
                            data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0"
                            data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina="">
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption" data-x="['center','center','center','center']"
                            data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']"
                            data-voffset="['-56','-56','-36','-150']" data-width="none" data-height="none"
                            data-whitespace="nowrap" data-transform_idle="o:1;"
                            data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                            data-mask_in="x:0px;y:[100%];" data-mask_out="x:inherit;y:inherit;" data-start="1000"
                            data-splitin="none" data-splitout="none" data-responsive_offset="on"
                            style="z-index: 6; white-space: nowrap;">
                            <h3 style="color: black;">{{ banner.text }}</h3>
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div><!-- END REVOLUTION SLIDER -->
</div> <!--  /#banner -->

<!-- Popular Course _________________________ -->
<div class="popular-course wow fadeInUp theme-bg-color">
    <div class="container">
        <h2>Qiziqarli mashg'ulotlar</h2>

        <div class="row">
            <div class="theme-slider course-item-wrapper">
                {% for course in courses %}
                <div class="item hvr-float-shadow">
                    <div class="img-holder"><img class="course-image" src="{{ course.image.url }}" alt="Image"></div>
                    <div class="text">
                        <h4 style="font-size: 30px; font-weight: bold;"><a href="{% url 'course_details' course.id %}">{{ course.title }}</a></h4>
                        <p>{{ course.description|truncatechars:100 }}</p>
                    </div> <!-- /.text -->
                </div> <!-- /.item -->
                {% endfor %}
            </div> <!-- /.course-slider -->
        </div>
    </div> <!-- /.container -->
</div> <!-- /.popular-course -->

<!-- course Progress  __________________________ -->
<div class="course-progress">
    <div class="opacity">
        <div class="container">
            <h2>Ko'plab bilimlarni <span class="p-color">Biz bilan</span> o'rganing</h2>
            <p>Farzangingizni sifatli ta'lim olishi uchun qulay sharoitlar yaratilgan.</p>
            <h6>Bizning Natijalarimiz</h6>

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="icon"> <i class="ficon flaticon-crowdfunding"></i> </div>
                    <p>Tajribali ustozlar</p>
                    <div class="number"><span class="timer" data-from="0" data-to="{{ statistics.teachers }}" data-speed="1500"
                            data-refresh-interval="5">0</span></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="icon"><i class="ficon flaticon-teamwork"></i></div>
                    <p>Bitiruvchi o'quvchilar</p>
                    <div class="number"><span class="timer" data-from="0" data-to="{{ statistics.finishers }}" data-speed="1500"
                            data-refresh-interval="5">0</span></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="icon"><i class="ficon flaticon-medical"></i></div>
                    <p>Barcha o'quvchilar</p>
                    <div class="number"><span class="timer" data-from="0" data-to="{{ statistics.pupils }}" data-speed="1500"
                            data-refresh-interval="5">0</span></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <div class="icon"><i class="ficon flaticon-book"></i></div>
                    <p>To'garaklar</p>
                    <div class="number"><span class="timer" data-from="0" data-to="{{ statistics.special_courses }}" data-speed="1500"
                            data-refresh-interval="5">0</span></div>
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.opacity -->
</div> <!-- /.course-progress -->

<!-- Our Teacher ________________________ -->
<div class="our-teacher wow fadeInUp our-teacher-single-page" style="margin-top: 50px;">
	<div class="container">
		<div class="row">
			<div class="theme-slider">
                {% for i in teachers %}
				<div class="item">
					<div class="item-wrapper theme-bg-color tran3s hvr-float-shadow">
						<div class="img-holder round-border">
							<img src="{{ i.image.url }}" alt="Teacher">
							<div style="background-color: rgba(0, 0, 0, 0.5);" class="overlay round-border tran4s">
								<ul>
									<li><a href="#" class="tran3s round-border icon"><i class="fa fa-telegram"
												aria-hidden="true"></i></a></li>
									<li><a href="#" class="tran3s round-border icon"><i class="fa fa-instagram"
												aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div> <!-- /.img-holder -->
						<a href="{% url 'staf_details' i.id %}">
							<h6>{{ i.first_name }} {{ i.last_name }}</h6>
						</a>
						<p>{{ i.position }}</p>
					</div>
				</div>
                {% endfor %}
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</div> <!-- /.our-teacher -->


<!-- Latest News ___________________________ -->
<div class="latest-news wow fadeInUp theme-bg-color">
    <div class="container">
        <div class="theme-title">
            <h2>So'ngi Lavhalar</h2>
            <p>Bizning o'quvmarkazidagi dars jarayonlari</p>
        </div>
        <div class="post-wrapper row">
            <div class="theme-slider">
                {% for new in news %}
                <div class="item">
                    <div style="margin: 0 15px 15px 15px;" class="single-post wow fadeInUp">
                        <div class="img-holder">
                            <img class="news-image" src="{{ new.image.url }}" alt="Image">
                            <a href="{% url 'news' %}" class="tran4s"></a>
                        </div>
                        <div class="text-wrapper">
                            <div class="text tran4s">
                                <a href="{% url 'news' %}"> {{ new.title }} </a>
                            </div> <!-- /.text -->
                        </div> <!-- /.text-wrapper -->
                    </div> <!-- /.single-post -->
                </div>
                {% endfor %}
            </div>
        </div> <!-- /.post-wrapper -->
    </div> <!-- /.container -->
</div> <!-- /.latest-news -->

{% endblock %}