{% extends 'base.html' %}
{% load static %}
{% block nav %}
	<div class="collapse navbar-collapse" style="margin-left: 30px;" id="navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li class="dropdown-holder "><a href="{% url 'index' %}">Bosh sahifa</a>
			</li>
			<li class="dropdown-holder current-page-item"><a href="{% url 'teachers' %}">O'qituvchilar</a>
			</li>
			<li><a href="{% url 'contact' %}">Aloqa</a></li>
		</ul>
	</div><!-- /.navbar-collapse -->
{% endblock %}
{% block content %}
<!-- Inner Page Main Banner __________________ -->
<div class="inner-page-banner">
	<div class="opacity">
		<div class="container">
			<h2>Bizning o'qituvchilar</h2>
		</div> <!-- /.container -->
	</div> <!-- /.opacity -->
</div> <!-- /.inner-page-banner -->


<!-- Our Teacher ________________________ -->
<div class="our-teacher wow fadeInUp our-teacher-single-page" style="margin-top: 50px;">
	<div class="container">
		<div class="row">
			{% for i in teachers %}
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
				<div class="item">
					<div class="item-wrapper theme-bg-color tran3s hvr-float-shadow">
						<div class="img-holder round-border">
							<img src="{{ i.image.url }}" alt="Teacher">
							<div style="background-color: rgba(0, 0, 0, 0.5);" class="overlay round-border tran4s">
								<ul>
									<li><a href="#" class="tran3s round-border icon" style="padding-top: 15px;"><i class="fa fa-telegram"
												aria-hidden="true"></i></a></li>
									<li><a href="#" class="tran3s round-border icon" style="padding-top: 15px;"><i class="fa fa-instagram"
												aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div> <!-- /.img-holder -->
						<a href="{% url 'staf_details' i.id %}">
							<h6>{{ i.first_name }} {{ i.last_name }}</h6>
						</a>
						<p>{{ i.position }}</p>
					</div>
				</div>
			</div>
                {% endfor %}
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</div> <!-- /.our-teacher -->

{% endblock %}