{% extends 'base.html' %}
{% load static %}
{% block nav %}
<div class="collapse navbar-collapse" style="margin-left: 30px;" id="navbar-collapse-1">
	<ul class="nav navbar-nav">
		<li class="dropdown-holder "><a href="{% url 'index' %}">Bosh sahifa</a>
		</li>
		<li class="dropdown-holder current-page-item"><a href="{% url 'teachers' %}">O'qituvchilar</a>
		</li>
		<li><a href="{% url 'contact' %}">Aloqa</a></li>
	</ul>
</div><!-- /.navbar-collapse -->
{% endblock %}
{% block content %}
<!-- Inner Page Main Banner __________________ -->
<div class="inner-page-banner">
	<div class="opacity">
		<div class="container">
			<h2>O'qituvchi Profili</h2>
		</div> <!-- /.container -->
	</div> <!-- /.opacity -->
</div> <!-- /.inner-page-banner -->


<!-- Teacher Profile Page  ___________________ -->
<div class="teacher-profile" style="margin-top: 50px;">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 float-right" >
				<div style="width: 100%; height: 400px;">
					<iframe style="width: 100%; height: 100%;" src="{{ staf.bio_video }}?rel=0" frameborder="0">
					</iframe>
				</div>
				<div style="margin-top: 50px;" class="text-warpper">
					<h4>Batafsil ma'lumot</h4>
					<p class="mmfix">
						{{ staf.biography }}
					</p>
					<div class="row">
						<div class="col-lg-6 col-md-12 col-sm-6 col-xs-12">
							<h4> ma'lumoti </h4>
							<p>{{ staf.education }}</p><br>
							<h4> Tajribasi </h4>
							<p>{{ staf.experience }}</p>
						</div> <!-- /.col- -->
					</div>
				</div> <!-- /.text-wrapper -->
			</div>

			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 teacher-sidebar float-left wow fadeInUp">
				<div class="img-holder theme-bg-color"><img src="{{ staf.image.url }}" alt="Teacher"></div>
				<div class="teachers-bio p-color-bg">
					<h6>{{ staf.first_name }} {{ staf.last_name }} </h6>
					<p><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{ staf.position }}</p>
					<p><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="#">{{ staf.email }}</a></p>
					<p><i class="fa fa-phone" aria-hidden="true"></i> <a href="#">{{ staf.number }}</a></p>

					<ul>
						<li><a href="#" class="tran3s round-border icon" style="padding-top: 12px;"><i class="fa fa-telegram"
									aria-hidden="true"></i></a></li>
						<li><a href="#" class="tran3s round-border icon" style="padding-top: 12px;"><i class="fa fa-instagram"
									aria-hidden="true"></i></a></li>
					</ul>
				</div> <!-- /.teachers-bio -->
			</div> <!-- /.teacher-sidebar -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</div> <!-- /.teacher-profile -->



<!-- Our Teacher ________________________ -->
<div class="our-teacher wow fadeInUp" style="margin-bottom: 50px ;">
	<div class="container">
		<h4>Boshqa o'qituvchilarimiz</h4>

		<div class="row">
			<div class="theme-slider">
				{% for teach in teachers %}
				{% if teach.id != staf.id %}
				<div class="item">
					<div class="item-wrapper theme-bg-color tran3s hvr-float-shadow">
						<div class="img-holder round-border">
							<img src="{{ teach.image.url }}" alt="Teacher">
							<div class="overlay round-border tran4s">
								<ul>
									<li><a href="#" class="tran3s round-border icon" style="padding-top: 15px;"><i class="fa fa-telegram"
												aria-hidden="true"></i></a></li>
									<li><a href="#" class="tran3s round-border icon" style="padding-top: 15px;"><i class="fa fa-instagram"
												aria-hidden="true"></i></a></li>
								</ul>
							</div>
						</div> <!-- /.img-holder -->
						<a href="{% url 'staf_details' teach.id %}">
							<h6>{{ teach.first_name }} {{ teach.last_name }}</h6>
						</a>
						<p>{{ teach.position }}</p>
					</div>
				</div> <!-- /.item -->
				{% endif %}
				{% endfor %}
			</div>
		</div> <!-- /.row -->
	</div> <!-- /.container -->
</div> <!-- /.our-teacher -->
<!-- Information Banner _______________________ -->
<div class="information-banner contact-us-page wow fadeInUp">
    <div class="container">
        <h3>O'qtuvchi darslariga <span class="p-color">ro'yxatdan o'tish</span></h3>
		<div class="contact-us-form">
			<form class="form-validation" autocomplete="off" method="post">
				{% csrf_token %}
				{% include 'partials/_flash_messages.html' %}
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<input name="name" type="text" placeholder="Ism">
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<input name="last_name" type="text" placeholder="Familia">
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<input name="number" type="text" placeholder="Tel: 998934444444">
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<button class="tran3s p-color-bg themehover" title="Send">yuborish</button>
					</div>
				</div>
			</form>
		</div> <!-- /.contact-us-form -->
    </div> <!-- /.container -->
</div> <!-- /.information-banner -->

{% endblock %}